/* Write your code here. */
.itemsContainer {
  margin: 9px;
  text-align: center;
  padding: 13px;
  border-style: solid;
  border-color: #ffffff30;
  background-color: #ffffff30;
  border-width: 5px;
  border-radius: 18px;
}
.emojiimage {
  width: 50%;
}
.btnEl {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .itemsContainer {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .emojiimage {
  }
}
