/* Write your code here. */
.winContainer {
  padding-top: 50px;
  padding-bottom: 50px;
  border-style: solid;
  border-color: #ffffff33;
  border-width: 8px;
  border-radius: 26px;
  background-color: #ffffff33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.winImage {
  width: 40%;
}
.textContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
}
.para {
  color: #ffffff;
  margin: 1px;
  font-size: 18px;
}
.para_score {
  color: #6a59ff;
  font-weight: 600;
  font-size: 32px;
  margin: 1px;
}
.btnEl2 {
  width: 200px;
  height: 60px;
  outline: none;
  border-radius: 14px;
  background-color: #ffce27;
  font-size: 19px;
  font-weight: bold;
  margin: 1px;
  cursor: pointer;
  border: solid;
  border-color: #ffce27;
}
